<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-file-text-o"></i> Materials orders form
            <span *ngIf="filter===true">[ Filter : {{ field['name'] }} = {{ keyword }} ]</span>
            <div class="pull-right">
                <button type="button"  [routerLink]="['/materials/orders/form']" class="btn btn-sm btn-primary">
                  <i class="fa fa-plus"></i> New</button>
                
                <button type="button"  (click)="onFilter(template)" class="btn btn-sm btn-info">
                  <i class="fa fa-search"></i> Filtter</button>
              
                <button type="button" (click)="multiDelete()" class="btn btn-sm btn-danger">
                  <i class="fa fa-trash"></i> Delete</button>
            </div>
        </div>

        <div class="card-body">
            <div class="alert alert-info" *ngIf="isFilter">
                <p><strong>Result </strong> <span class="text-result">{{ rows.length }}</span></p>
                <p *ngIf="keyword.onStart"><strong>Filter on </strong>  <span class="text-result">{{ keyword.onStart | date: 'MMM dd, yyyy'  }}</span> <strong>To</strong>  <span class="text-result">{{ keyword.onEnd | date: 'MMM dd, yyyy'  }}</span></p>
                <p *ngIf="keyword.keywords"><strong>From </strong>  <span class="text-result">{{ optName( keyword.field ) }}</span> <strong>Keyword : </strong>  <span class="text-result">{{ keyword.keywords }}</span></p>
              </div>
            <div class="table-responsive">
                <table class="table table-sm table-data table-bordered">
                    <thead>
                      <tr>
                        <th class="multicheck">
                          <input type="checkbox" [(ngModel)]="selectAll" (change)="onSelectAll()" />
                        </th>
                        <th>CREATE</th>
                        <th class="w120">DATA</th>
                        <th>USER</th>
                        <th class="w120">STATUS</th>
                        <th class="w120">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of rows; let i=index;">
                            <td class="text-center">
                                <input type="checkbox" [value]="row.id" [(ngModel)]="row.selected" (change)="checkIfAllSelected()">
                            </td>
                            <td>{{ row.created_at }}</td>
                            <td class="text-center">{{  row.detail }}</td>
                            <td>{{  row.user.mb_name }}</td>
                            <td class="text-center">
                                    <a [routerLink]="['/materials/orders/form/'+ row.id]" class="text-danger" *ngIf="row.status!=1" ><i class="text-danger fa fa-circle fa-2x"></i></a>
                                    <i class="text-success fa fa-circle  fa-2x" *ngIf="row.status==1"></i>
            
                            </td>
                            <td class="action">
                                <a tooltip="Print this Materials Order" class="text-dark"  [routerLink]="['/materials/orders/form/' + row.id +'/print']">
                                    <i class="fa fa-print"></i>
                                  </a>
                                  <a tooltip="Export to Materials Order" class="text-success" (click)="onExport(row.id)">
                                    <i class="fa fa-file-excel-o"></i>
                                  </a>
                    
                                  <a tooltip="Edit" class="text-primary"  [routerLink]="['/materials/orders/form/'+ row.id]">
                                    <i class="icon-note"></i>
                                  </a>
                                  <a tooltip="Delete" class="text-danger" (click)="onDelete(row.id)">
                                    <i class="icon-trash"></i>
                                  </a>
                            </td>
                        </tr>
                    </tbody>
                    </table>
            </div>
            <!-- :: Start paginate panel -->
    <div class="text-center" *ngIf="lpage>1">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" (click)="onPage( cpage-1 )" disabled >Prev</a></li>
              <li class="page-item {{p == cpage ? 'active':''}}" *ngFor="let p of page; let i=index;">
                  <a class="page-link" (click)="onPage(p)">{{p}}</a>
              </li>
              <li class="page-item"><a class="page-link" (click)="onPage( cpage+1 )">Next</a></li>
            </ul>
          </div>
          <!-- :: End paginate panel -->
        </div>
    </div>
</div>


<!-- ::
  :: MODAL SEARCH AND FILTER SPEC MODEL ::
  ::====================================================::
 -->
 <ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Filter</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" [formGroup]="frmFilter" (ngSubmit)="doSearch()">
            <div class="form-group row">
                <div class="col-md-6">
                    <input type="text" class="form-control" formControlName="onStart" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" placeholder="Start date"/>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" formControlName="onEnd" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" placeholder="End date"/>
                </div>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-sm btn-info"><i class="fa fa-search"></i> Filter</button>
            </div>
        </form>
    </div>
</ng-template> 