<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-file-text-o"></i> ORDER SHEET COJ FORM
      
      <div class="pull-right">
          <button type="button"  (click)="goPrint()" class="btn btn-sm btn-outline-dark" *ngIf="head.po_status!=0">
              <i class="icon-printer"></i> Print</button>
          <button type="button"  (click)="goCard()" class="btn btn-sm btn-dark" *ngIf="head.po_status==2">
              <i class="icon-grid"></i> Order Card</button>
          <button type="button"  (click)="onExport(orderId)" class="btn btn-sm btn-outline-success" *ngIf="head.po_status!=0">
              <i class="fa fa-file-excel-o"></i> Export</button>
          <button type="button"  (click)="goBack()" class="btn btn-sm btn-outline-dark">
              <i class="icon-arrow-left"></i> Back</button>
    </div>
    </div>

    <div class="card-body">
        <form (ngSubmit)="onSubmit()">
            <fieldset  class="{{ head.po_status==2 ? 'hide' : '' }}">
          <div class="form-group row">
            <label class="col-md-2">CUSTOMER : </label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="head-customer" [(ngModel)]="head.customer"/>
            </div>
            <label class="col-md-2 text-right">FORM NAME : </label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="head-name" [(ngModel)]="head.name"/>
            </div>
          </div>
          <hr>
          <div class="form-group row">
              <label class="col-md-2">ORDER NO</label>
              <div class="col-md-2">
                <input type="text" class="form-control" name="order_prefix" [(ngModel)]="newRow.order_prefix">
              </div>
              <div class="col-md-2">
                <input type="number" class="form-control" name="order_number" [(ngModel)]="newRow.order_number">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-md-2">SPEC MODEL NO</label>
              <div class="col-md-3 btn-group"  dropdown #dropdown="bs-dropdown">
                <input  class="form-control"  type="text" id="input-material" dropdownToggle (keyup)="searchNo($event.target.value)" [(ngModel)]="newRow.spec_name" name="spec_name">
                  <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="input-material">
                      <li *ngFor="let search of searches; let i = index;" role="menuitem" class="dropdown-item"  (click)="setField('newRow',i,0)">{{ search }}</li>
                    </ul>
              </div>
              <div class="col-md-3">
                {{ newRow.spec_descript }}
              </div>
          </div>
          <div class="form-group row">
              <label class="col-md-2">DELIVERY DATE</label>
              <div class="col-md-4">
                <input type="text" class="form-control" name="deli" [(ngModel)]="newRow.deli" #dp="bsDatepicker" bsDatepicker [(bsValue)]="bsValue" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-md-2">QUANTITY</label>
              <div class="col-md-4">
                <input type="number" class="form-control" name="quant" [(ngModel)]="newRow.quant">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-md-2"></label>
              <div class="col-md-3">
                <button class="btn btn-success" type="button" (click)="addRow()" *ngIf="isEdit==false">
                  <i class="fa fa-plus"></i> ADD
                </button>
                <button class="btn btn-primary" type="button" (click)="updateRow()" *ngIf="isEdit==true">
                  <i class="fa fa-plus"></i> UPDATE
                </button>
              </div>
          </div>
          </fieldset>
          <hr>
          <div class="row">
              <div class="col-md-10">
                <strong class="underline">ORDER SHEET COJ</strong>
              </div>
              <div class="col-md-1 text-right">
                <label class="switch switch-text switch-pill switch-success-outline-alt pull-right">
                  <input type="checkbox" class="switch-input" name="head-status" [(ngModel)]="head.status">
                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
              <div class="col-md-1 text-right">
                  <button type="submit" class="btn btn-primary pull-right">
                      <i class="fa fa-save"></i> {{ orderId == 0 ? 'SAVE' : 'UPDATE' }}
                  </button>
              </div>
          </div>

            <table class="table table-berdered table-form">
                <thead>
                  <tr>
                      <th rowspan="2" *ngIf="head.po_status!=2"></th>
                      <th rowspan="2">ORDER NO.</th>
                      <th rowspan="2" class="w10"></th>
                      <th rowspan="2">TYPE</th>
                      <th rowspan="2">MATERIAL</th>
                      <th rowspan="2">COLOR</th>
                      <th rowspan="2">SIZE</th>
                      <th rowspan="2">TYPE</th>
                      <th rowspan="2">QUANT</th>
                      <th rowspan="2">BUCKLE</th>
                      <th rowspan="2">DELIVERY DATE</th>
                      <th rowspan="2" colspan="2">MODEL CODE</th>
                      <th rowspan="2">LINING</th>
                      <th rowspan="2">FILLER</th>
                      <th rowspan="2">DBL.FILL</th>
                      <th rowspan="2">STITCH #NO</th>
                      <th rowspan="2">PT EG.</th>
                      <th colspan="2">HOLD</th>
                      <th colspan="2">KEEPER</th>
                      <th rowspan="2">P</th>
                  </tr>
                  <tr>
                      <th>K</th>
                      <th>B</th>
                      <th>TYPE</th>
                      <th>ST.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let field of fields; let i=index">
                    <td class="field-action" *ngIf="head.po_status!=2">
                      <a (click)="removeRow(i)" class="text-danger"><i class="fa fa-minus"></i></a>
                      <a (click)="editRow(i)" class="text-primary"><i class="fa fa-edit"></i></a>
                    </td>
                    <td>                      
                        {{ field.order_prefix }} - {{ field.order_number }}
                    </td>
                    <td></td>
                    <td>{{ field.type }}</td>
                    <td>{{ field.material }}</td>
                    <td>{{ field.color }}</td>
                    <td>{{ field.size }}</td>
                    <td>{{ field.type2 }}</td>
                    <td class="text-center">{{ field.quant }}</td>
                    <td>{{ field.buckle }}</td>
                    <td>                      
                        {{ field.deli | date:'dd MMM yyyy' }}
                    </td>
                    <td colspan="2">
                          {{ field.spec_name }} 
                    </td>
                    <td>{{ field.lining }}</td>
                    <td>{{ field.filler }}</td>
                    <td>{{ field.dbl_fill }}</td>
                    <td>{{ field.stitch_no }}</td>
                    <td>{{ field.pt }}</td>
                    <td>{{ field.hole_k }}</td>
                    <td>{{ field.hole_b }}</td>
                    <td>{{ field.keeper_type }}</td>
                    <td>{{ field.keeper_st }}</td>
                    <td>{{ field.p }}</td>
                  </tr>
                </tbody>
              </table>
        </form>
    </div>
  </div>
</div>