.spec-model-card{
    input[type="text"]{
        padding:4px;
    }
}
.dropdown-menu{
    .dropdown-item{
        cursor: pointer;
        border-bottom:1px solid #c2cfd6;
    }
    border:0;

}
.wide-auto{
    width:auto;
}