<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-file-text-o"></i> SPEC MODEL
      <span *ngIf="filter===true">[ Filter : {{ field['name'] }} = {{ keyword }} ]</span>
      <div class="pull-right">
        <button type="button"  [routerLink]="['/spec-model/form']" class="btn btn-sm btn-primary">
          <i class="fa fa-plus"></i> New</button>
        <button type="button"  (click)="onFilter(template)" class="btn btn-sm btn-info">
          <i class="fa fa-search"></i> Filtter</button>
        <button type="button" (click)="multiDelete()" class="btn btn-sm btn-danger">
          <i class="fa fa-trash"></i> Delete</button>
      </div>
    </div>

    <div class="card-body">

      <table class="table table-sm table-data table-bordered">
        <thead>
          <tr>
            <th class="multicheck">
              <input type="checkbox" [(ngModel)]="selectAll" (change)="onSelectAll()" />
            </th>
            <th>SPEC NO</th>
            <th *ngIf="filter===true">{{ field['name'] }}</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            

          <tr *ngFor="let sp of rows; let i = index;" >
            <td class="text-center">
              <input type="checkbox" [value]="sp.id" [(ngModel)]="sp.selected" (change)="checkIfAllSelected()">
            </td>
            <td><span class="spec-name">{{  sp.spec_no.name  }}</span><span class="spec-descript">{{ sp.spec_no.descript}}</span></td>
            <td *ngIf="filter===true">
                <span class="spec-name">{{  rows[i][field['key']].name ? rows[i][field['key']].name : rows[i][field['key']] }}</span> 
            </td>
            <td class="action">
              <a tooltip="Print this Spec Model" class="text-dark"  [routerLink]="['/spec-model/print/' + sp.id]">
                <i class="fa fa-print"></i>
              </a>
              <a tooltip="Export to Sheet file" class="text-success" (click)="exportXls(sp.id)">
                <i class="fa fa-file-excel-o"></i>
              </a>

              <a tooltip="Edit" class="text-primary"  [routerLink]="['/spec-model/form/'+sp.id]">
                <i class="icon-note"></i>
              </a>
              <a tooltip="Delete" class="text-danger" (click)="onDelete(sp.id)">
                <i class="icon-trash"></i>
              </a>
            </td>
          </tr>        
        </tbody>
      </table>
    </div>
  </div>
  <!-- :: Start paginate panel -->
  <div class="text-center" *ngIf="lpage>1">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" (click)="onPage( cpage-1 )" disabled >Prev</a></li>
      <li class="page-item {{p == cpage ? 'active':''}}" *ngFor="let p of page; let i=index;">
          <a class="page-link" (click)="onPage(p)">{{p}}</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="onPage( cpage+1 )">Next</a></li>
    </ul>
  </div>
  <!-- :: End paginate panel -->
</div>

<!-- ::
  :: MODAL SEARCH AND FILTER SPEC MODEL ::
  ::====================================================::
 -->
 
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Search & Filter</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form class="form-inline" [formGroup]="frmSearch" (ngSubmit)="doSearch()">
            <div class="form-group">
            <select class="form-control" formControlName="field">
              <option ngValue="{{ opt.field }}" *ngFor="let opt of opts; let i = index;">{{  opt.name }}</option>
            </select>
            </div>
            <div class="form-group">
            <input type="text" class="form-control" formControlName="keywords" placeholder="Keywords">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-sm btn-info"><i class="fa fa-search"></i> Filter</button>
            </div>
        </form>
    </div>
</ng-template> 